 .u-section-1 {
  min-height: 609px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 51px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 14px auto 0 0;
  padding: 16px 29px 16px 27px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/Screenshot2025-10-24141227.png");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 518px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 191px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    background-position: 73.65% 50%;
    min-height: 745px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 793px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-1 .u-image-1 {
    min-height: 530px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 500px;
  margin: 12px 590px 0 50px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 500px;
  margin: -500px 50px 50px 590px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 490px;
    margin-left: -50px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: -50px;
    margin-left: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-2 {
    width: 500px;
    margin: 12px auto 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 340px;
  }
}