.u-section-1 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 63px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 1128px;
  height: auto;
  min-height: 140px;
  margin: 63px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.u-section-1 .u-image-1 {
  min-height: 718px;
  background-image: url("images/IMG_6312.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-top: 30px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-1 {
    min-height: 592px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 27px;
  }

  .u-section-1 .u-image-1 {
    min-height: 453px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-1 .u-image-1 {
    min-height: 445px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-group-1 {
    min-height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .u-section-1 .u-image-1 {
    min-height: 235px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 970px;
  filter: none;
  background-image: url("images/Screenshot2025-10-24131311.png");
  background-position: 57.48% 19.23%;
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 970px;
  filter: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  --radius: 10px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 302px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  --radius: 10px;
  height: auto;
  min-height: 665px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-2 .u-image-1 {
    min-height: 632px;
    background-position: 52.51% 19.23%;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 622px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1903px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: -2px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1853px;
    background-position: 61.86% 19.23%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1853px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -15px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-2 .u-image-1 {
    min-height: 569px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 0 11px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.1111111111111112rem;
    width: auto;
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0 0 11px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-top: 0;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-image-1 {
    min-height: 388px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
    margin-left: 8px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 402px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-3 .u-image-1 {
  min-height: 372px;
  background-position: 50% 50%;
  background-image: url("images/IMG_6334.JPG");
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 372px;
  background-image: url("images/IMG_6346.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 307px;
  }

  .u-section-3 .u-image-2 {
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 235px;
  }

  .u-section-3 .u-image-2 {
    min-height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -111px;
  }

  .u-section-3 .u-image-1 {
    min-height: 445px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 353px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 219px;
  }

  .u-section-3 .u-image-2 {
    min-height: 217px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 654px;
  filter: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  --radius: 10px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 653px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 7px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: -11px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 654px;
  filter: none;
  background-image: url("images/Screenshot2025-10-24131328.png");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 34px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 615px;
  }

  .u-section-4 .u-group-1 {
    min-height: 616px;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 615px;
    background-position: 100% 19.23%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1007px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1034px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-4 .u-image-1 {
    min-height: 1007px;
    background-position: 92.91% 19.23%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 120px;
    margin-bottom: 16px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-4 .u-group-1 {
    min-height: 461px;
    margin-top: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.1111111111111112rem;
    margin-top: 21px;
    margin-right: 7px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-1 {
    min-height: 612px;
    background-position: 92.91% 51.26%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 4px;
    margin-bottom: 19px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-4 .u-group-1 {
    min-height: 343px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-4 .u-image-1 {
    min-height: 402px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 847px;
}

.u-section-5 .u-text-1 {
  font-style: italic;
  margin: 15px auto 0 10px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 491px;
  background-image: url("images/IMG_2018.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 491px;
  background-image: url("images/Screenshot2025-04-16165246.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 0 60px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-5 .u-image-1 {
    min-height: 405px;
  }

  .u-section-5 .u-image-2 {
    min-height: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-5 .u-image-1 {
    min-height: 310px;
  }

  .u-section-5 .u-image-2 {
    min-height: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1748px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-5 .u-image-1 {
    min-height: 317px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 872px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 205px;
  }

  .u-section-5 .u-image-2 {
    min-height: 549px;
  }
}